img{
  width:460px;
  height: 130px;
  top: -40px;
}
.button {
  background:red;
  color: white;
  display:inline-block;
  font-size:16px;
  padding:10px;
  text-decoration:none;
}

.button:hover {

  box-shadow: 0 0 0 ;
}

.parallelogram{
  transform: skew(-20deg);
}

.skew-fix{
  display:inline-block;
  transform: skew(20deg);
}